extends layout

block content
  div.field.columns.is-centered
    div.column.is-one-quarter
      h1.title Enter Secret Password
      br
      -if (currentUser.status === 'Elite')
        h3.subtitle You're already an elite member!
      -else
        p.has-text-white The password is member123
        form(action='', method='POST')
          if msg
            p.has-text-danger #{msg}
          label.label(for='password') Password
          div.control
            input.input(type='password' name='password' required=true)
          input(type='hidden' name='username' value=currentUser._id required=true)
          div.control.mt-5
            button.button.is-success Submit